.coluna{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh 1vh 2vh 1vh;
    border: 1px solid #ccc;
    margin: 0px 10px 0px 10px;
    border-radius: 0.375rem;
}
.coluna h3 {
    text-align: center;
    font-size: .9rem;
    display: inline-flex;
    justify-content: center;
    gap: 5px;
}
.coluna div{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0px 10px 0px 10px;
    border-radius: 0.375rem;
}
.coluna div span{
    font-weight: bold;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    font-size: 2.5rem;
}
.full{
    border-color: rgb(104, 250, 127) !important;

}
.full div {
    border-color: rgb(104, 250, 127) !important;
}
/*.full div span{*/
/*    color: #68FA7F;*/
/*}*/